<!DOCTYPE html>
<script src="~/Scripts/136Libraries/ViewModels/scheduleViewModel.js"></script>
@Scripts.Render("~/bundles/calendar")
@Styles.Render("~/bundles/calendarstyle")
@Styles.Render("~/Content/css")
<link rel="stylesheet" href="~/Content/bootstrap-responsive.min.css"/>
<link rel="stylesheet" href="~/Content/bootstrap.min.css" />
<script src="~/Scripts/Services/courseList.js" type="text/javascript"></script>
<html ng-app="schedule">

<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>

<body ng-cloak ng-controller="scheduleCTRL" ng-init="user='@Session["id"]'">

    <div class="row">
        <div class="span3">            
            <fieldset>
                <legend> Student Chat </legend>
                <label for="txtInput">Chat Message</label>
                <input id="txtInput" type="text" />
                <button id="buttonSubmit"> Submit</button>
                <fieldset>
                    <legend>Messages</legend>
                    <ul id="messages">
                        <li ng-repeat="message in chatMessages">
                            {{message}}
                        </li>
                    </ul>
                </fieldset>
            </fieldset>
            </div>

        <div class="span4">
            <button ng-click="addJobs = !addJobs" class="btn"> 
            <span ng-show="addJobs"> Add</span> <span ng-show="!addJobs">Remove</span> Classes 
            </button>
            <div ng-hide="!addJobs">
                <div class="displayGrid">
                    <div ng-repeat="item in selectedOptions">                        
                        <div ng-click="removeStudentClass(item)" tooltip="{{item.tooltip}}" dragtool="true"
                              class="row list " style="border-style:solid; border-width:1px; cursor:pointer;">
                            <div class="span1">{{item.title}}</div>
                            <div class="span3"> {{item.description}}</div>
                        </div>
                   </div>
                </div> 
            </div>
            <div ng-hide="addJobs" class="displayGrid">
                <div btf-dragon="item in list">
                    <div tooltip="{{item.tooltip}}" dragtool="true" class="row list " style="border-style:solid; border-width:1px;">
                        <div class="span1">{{item.title}}</div>
                        <div class="span3"> {{item.description}}</div>
                    </div>
                 </div>
                </div>
            </div>

        <div noshow="true" btf-dragon="item in selectedOptions">
            <div class="span10" ui-calendar="calendarOptions" ng-model="eventSources" calendar="myCalendar">
            </div>
        </div>
    </div>
    </div>
</body>
</html>
