<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    <script src="~/Scripts/angular.min.js"></script>
    @Scripts.Render("~/bundles/angular")

    <script src="~/Scripts/knockout-2.2.1.js"></script>

    <script type="text/javascript" src="~/Scripts/jquery.signalR-1.1.3.min.js"></script>
        <link  rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
    <link href="/Content/136.less" rel="stylesheet" />

    <script type="text/javascript" src="@Url.Content("~/Scripts/require.js")"></script>
    <script src="~/signalr/hubs" type="text/javascript"></script>
    <script type="text/javascript">
        require.config({
            baseUrl: "@Url.Content("~/Scripts/136Libraries")",
            // Cache buster so the files are not cached during development/debuggin
            urlArgs: "bust=" + (new Date()).getTime()
        });

      /*  $(document).ready(function () {
            var chat = $.connection.chatHub;

            chat.client.getMessage = function (msg) {
                $("#messages").append("<li>" + msg + "</li>");
            };

            $.connection.hub.start(function () {
                chat.server.login();
                $("#buttonSubmit").click(function () {
                    chat.server.postMessage($("#txtInput").val());
                });

            });
        });*/
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        <div class="headerClass" style="float:left;">
            <h1>136 Enterprise-Class Web Applications</h1>
        </div>
        <div style="margin-top:30px; padding-left:50px;float:left"><a href="/Login/LogOff">logout</a></div>
        <div style="clear:both"></div>
    </header>
   
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <hr />
                <p>&copy; @DateTime.Now.Year (there is no actual copy right material here)</p>
            </div>
        </div>
    </footer>
    @RenderSection("scripts", required: false)
   <!-- <fieldset>
        <legend> Student Chat </legend>
        <label for="txtInput">Chat Message</label>
        <input id="txtInput" type="text" />
        <button id="buttonSubmit"> Submit</button>
        <fieldset>
            <legend>Messages</legend>
            <ul id="messages"></ul>
        </fieldset>
    </fieldset>-->
</body>
</html>
